
.echo-card {
    border: 3px solid #ff00b8;
    border-radius: 8px;
    padding: 16px;
    max-width: 500px;
    margin: 16px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.echo-input {
    width: 85%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-family: inherit;
}


.echo-actions {
    margin-top: 12px;
    border-radius: 99px;
    color: #fff;
    background-color: #ff00b8;
    cursor: pointer;
    border: 15px solid #ff00b8;
    text-decoration: none;
    width: 40%;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.echo-output {
    margin-top: 50px;
}

.echo-preview {
    margin-top: 12px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 40px;
}